@model ConquerWeb.Models.News

@{
    ViewData["Title"] = Model.Title;
    Layout = "_Layout";
}

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">@Model.Title</h1>
                    <p class="lead fw-normal text-white-50 mb-4">By @Model.Author on @Model.Publish_Date.ToShortDateString()</p>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img class="img-fluid rounded-3 my-5" src="~/images/icons/news_details_icon.png" alt="News Details Icon" style="max-width: 250px; height: auto;" />
            </div>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow border-0 mb-5">
                    <div class="card-body p-4">
                        <div class="small text-muted mb-3">Published on @Model.Publish_Date.ToShortDateString() by @Model.Author</div>
                        <div class="fs-5 mb-4">
                            <p class="lead">@Model.Content</p>
                        </div>
                        <a asp-controller="News" asp-action="Index" class="btn btn-primary mt-3">Back to All News</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>